*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Merriweather", serif;
}
body{
    background-color: black !important;
    color: #ffff;
}
/* navbar tart */
#navbar{
    background-color: black;
    /* background-color: transparent; */
    /* background-color: black; */
    /* background-color: hsl(225deg 40% 11.76%); */
    color: #ffff;
}
#icon-navbar{
    background-color: black;
    /* background-color: transparent; */
 /* background-color: black; */
    /* background-color: hsl(225deg 40% 11.76%); */
    color: #f7f3f3;

}
.nav-item .nav-link{
    color: #f0f0ef;
}
#logo{
    font-size: 1.5rem;
    background-color: black;
    color: #f0f0ef;
}
.navbar-nav{
    margin-left: 50px;
    gap: 30px;
}
#navbar :hover{
    color: hsl(39.3deg 88.6% 62.16%);
  
}
#navbar-btn{
    color: #f0f0ef;
    background-color: #e6e604;
}
#register-btn{
    background-color: red;
    padding: 5px;
    border-radius: 10px;
}
/* navbar end  */

#parents{
    display: flex;
    gap: 10px;
}
#about-card{
    border: none;

}
#about{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #e6e604;
    /* font-family: fantasy; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn{
    gap: 20px;
}
#about-icon{
    /* color: hsl(35.89deg 93.19% 53.92%); */
    color: #e6e604;
}
#about-btn{
    margin-left: 20px ;
    display: flex;
    justify-content: center;
    background-color: hsl(35.89deg 93.19% 53.92%);
    /* color: hsl(35.89deg 93.19% 53.92%) !important; */   
}
#about-btn1{
    background-color: rgb(206, 24, 24);
}

#container{
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    /* flex-wrap: wrap; */
}
#card{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

#service-item{
    display: flex;
    justify-content: center;
    color: #e6e604;
    font-style: italic;
}
#service-img{

    border: none;
    width: 100px;
    height: 80px;
}
#container1{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.img{
    width: 100% !important;
    padding: 20px;
    height:50% ;
}
#card-text{
   
    color: #f0f0ef;
}
.ordernow{
    border: 1px solid black;
    color: #f0f0ef;
    background-color: hsl(35.89deg 93.19% 53.92%);
    border-radius: 10px;
    padding: 5px;
}

#client-card :hover{
    background-color: chocolate; 
    color: #f0f0ef;
    cursor: pointer;
}
#client-container{
    margin-left: 35%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}